<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <settings>-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!--    </settings>-->

    <!-- 设置别名 -->
    <typeAliases>
        <!-- name:实体类所在包名 -->
        <package name="com.shantouxzk.crm.settings.domain"/>
        <package name="com.shantouxzk.crm.workbench.domain"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor" />
    </plugins>
    <!-- sql mapper(sql映射文件)所在位置 -->
    <mappers>
        <!-- name:mapper文件所在包名 这个包所有mapper.xml文件都能一次加载 -->
        <package name="com.shantouxzk.crm.settings.dao"/>
        <package name="com.shantouxzk.crm.workbench.dao"/>
    </mappers>
</configuration>